<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	layout:decorate="~{fragments/main_layout}">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Zahlungsmittel</title>

</head>
<body>
	<div layout:fragment="content" class="container">
		<p>Hier können Sie sich für Wiederkehernde Zahlungen registrieren.
		</p>

		<form th:action="@{/alias/registrierung}" method="POST"
			class="form-signin">

			<div th:if="${param.logout}">
				<div class="alert alert-info">You have been logged out.</div>
			</div>
			<button class="btn btn-lg btn-primary btn-block" name="Submit"
				value="register" type="Submit" th:text="Registrierung"></button>

		</form>

	</div>
</body>
</html>