<div th:fragment="footer" class="footer" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container">
        <span class="text-muted">Highway2bit  &copy; 2019 Stefan Guggisberg</span>
    </div>
</div>