<header th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">
	<!-- Static navbar -->
	<nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
		<a class="navbar-brand" href="#">Navbar</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarsExample09" aria-controls="navbarsExample09"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarsExample09">
			<ul class="navbar-nav mr-auto">

				<!-- Menu fuer eingeloggter Groupfitness Manager -->
				<div sec:authorize="hasRole('GROUP_MANGER')">GroupManager</div>

				<!-- Simulator -->
				<li class="nav-item dropdown"><div
						sec:authorize="hasAuthority('ADMIN')">
						<a class="nav-link dropdown-toggle" href="#" id="dropdown13"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Simulator</a>
						<div class="dropdown-menu" aria-labelledby="dropdown10">
							<a class="dropdown-item" href="/simulator/index">Alias
								erzeugen</a> <a class="dropdown-item" href="#">Another action</a> <a
								class="dropdown-item" href="#">Something else here</a>
						</div>
					</div></li>

				<!-- Kundencenter -->
				<li class="nav-item dropdown"><div
						sec:authorize="hasAuthority('CUSTOMER_MANAGER')">
						<a class="nav-link dropdown-toggle" href="#" id="dropdown13"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Kundencenter</a>
						<div class="dropdown-menu" aria-labelledby="dropdown10">
							<a class="dropdown-item" href="/customermanager/index">Kunde
								auflisten</a> <a class="dropdown-item" href="/customermanager/add">Kunde
								erfassen</a> <a class="dropdown-item" href="#">Something else
								here</a>
						</div>
					</div></li>

				<!-- Bezahlung -->
				<li class="nav-item dropdown"><div
						sec:authorize="hasAuthority('CUSTOMER')">
						<a class="nav-link dropdown-toggle" href="#" id="dropdown10"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Zahlungen
						</a>
						<div class="dropdown-menu" aria-labelledby="dropdown10">
							<a class="dropdown-item" href="/alias/aliasreg">Zahlungsmittel</a> <a
								class="dropdown-item" href="#">Another action</a> <a
								class="dropdown-item" href="#">Something else here</a>
						</div></div></li>

				<!-- Menu fuer eingeloggter User -->
				<li class="nav-item dropdown"><div
						sec:authorize="isAuthenticated()">
						<a class="nav-link dropdown-toggle" href="#" id="dropdown10"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<span sec:authentication="principal.username"></span>
						</a>
						<div class="dropdown-menu" aria-labelledby="dropdown10">
							<a class="dropdown-item" href="#">Action</a> <a
								class="dropdown-item" href="#">Another action</a> <a
								class="dropdown-item" href="#">Something else here</a>
						</div>
					</div></li>

				<!-- Log out Link -->
				<li class="nav-item" sec:authorize="isAuthenticated()"><a
					class="nav-link" href="/logout">Logout</a></li>

			</ul>

		</div>
	</nav>
</header>