<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	layout:decorate="~{fragments/main_layout}">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Users</title>

</head>
<body>
	<div layout:fragment="content" class="container">
		<div class="card">
			<div class="card-body">
				<div th:switch="${customers}" class="container my-5">
					<p class="my-5">
						<a href="/customermanager/add" class="btn btn-primary"><i
							class="fas fa-user-plus ml-2"> Add Customer</i></a>
					</p>
					<div class="col-md-10">
						<h2 th:case="null">No Customer yet!</h2>
						<div th:case="*">
							<table class="table table-striped table-responsive-md">
								<thead>
									<tr>
										<th>Name</th>
										<th>Edit</th>
										<th>Delete</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="customer : ${customers}">
										<td th:text="${customer.name}"></td>

										<td><a th:href="@{/customermanager/edit/{id}(id=${customer.id})}"
											class="btn btn-primary"><i class="fas fa-user-edit ml-2"></i></a></td>
										<td><a
											th:href="@{/customermanager/delete/{id}(id=${customer.id})}"
											class="btn btn-primary"><i class="fas fa-user-times ml-2"></i></a></td>
									</tr>
								</tbody>
							</table>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>